# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
    * Listing popular languages for data science
    * Commonly used libraries in data science
    * tools and simple expression in the notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. sci-Kit
4. Tensorflow
5. matplotlib

| Data Science Tools|
|-------------------|
|Pandas|
|Rstudio|
|Git-Hub|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Mukul Anand